* {
margin: 0%;
padding: 0%;
box-sizing: border-box;

}
.Wel {
width: 1890px;
    height: 80px;
    background-color: black;
display: inline-block;


}
.links {
    padding: 18px;
margin-left: 50px;
display: inline-block;
text-decoration: none;
color: white;
transition: transform 0.3s ease; 
}
.intro {
    padding: 15px;
    display: inline-block;
    margin-right: 350px;
    animation-name:ani ;
    animation-timing-function: linear;
    animation: ani 5s infinite alternate;




}
@keyframes ani {
   0% {
       color:red ; 
    }
   25% {color:green}
50% {color:blue}
75% {color:yellow}
100% {color:aqua}

}
.btn {
     transition: transform 0.3s ease;

}

.btn:hover {
    background-color: black;
     animation: ani 5s infinite alternate;
    transform: scale(1.5);
    animation-timing-function: linear;
    animation-name: ani;
}




.links:hover{
    
    transform: scale(1.5);
   color: white;
}
.inp {
    margin-left: 400px;
}
.inp:focus {
    background-color: grey;
 color: white;
}
.Work {
    border-radius: 12px;
    border: solid 2px;
    margin-top: 80px;
    margin-left: 250px;
    height: 350px;
    width: 250px;
    background-color: grey;
    display: inline-block;
}
.flexbox {
    margin-left: 270px;
    border-radius: 2%;
    margin-top: 200px;
    width: 250px;
    height: 420px;
    background-color: grey;
    display: inline-block;
}
.pic {
    height: 110px;
    margin-top: 10px;
    margin-left: 15px;
    width: 220px;
    
}
.car {
    margin-left: 55px;
   margin-top: 30px;
}
.pp {
     margin-top: 115px;
}
.ps {
    color: red;
}
.mer {
    margin-top: 130px;
    width: 1800px;
    height: 800px;
}
.para {
    margin-top: 10px;
}
.box {
    background-color: bisque;
    border-radius: 4px;
}
.marque {
    margin-top: 15px;
    background-color: black;
    color: white;
}
.show {
    background-color: black;
    color: white;
    height: 200px;
    margin-top: 100px;
}
.inside {
    
    margin-left: 650px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 500%;
}
.last 
{
background-color: bisque;
height: 400px;


}
.lh {
    
    margin-left: 850px;
    color: black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    


